.nav-link {
  font-size: 20px; /* Ajusta el tamaño de la fuente según lo necesites */
}

/* Aumentar el tamaño y poner en negrita el logo */
.navbar-brand {
  font-size: 24px; /* Ajusta el tamaño del logo */
  font-weight: bold; /* Poner en negrita */
}
