:host {
  display: block;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:first-of-type:hover {
  background-color: #a7305a !important;
}

button:last-of-type:hover {
  background-color: #3d2448 !important;
}
