.nav-link {
  font-size: 20px; /* Ajusta el tamaño de la fuente según lo necesites */
}

/* Aumentar el tamaño y poner en negrita el logo */
.navbar-brand {
  font-size: 24px; /* Ajusta el tamaño del logo */
  font-weight: bold; /* Poner en negrita */
}

.router-link-active {
  font-weight: bold;
  color: #ffffff; /* Puedes cambiarlo por el color deseado */
  border-bottom: 2px solid #ffffff; /* Agrega un borde inferior para indicar la selección */
}
